img{
     position: relative;
     color: black;
     margin-left: 220px;
     margin-right: 300px;
     width: 75%;
}
.image-content{
     position: absolute;
     text-align: center;
     top: 100px;
     left: 600px;
     color: #fff;
     font-family: Merriweather;
     font-size: 50px;
     font-weight: 500;
     line-height: 50px;
     padding: 20px;
}
.text-meddil{
       text-align: center;
       color: red;
       font-family: Merriweather;
       font-size: 50px;
       font-weight: 500;
       padding: 50px;
}
.color-text{
     color: #f00;
     text-align: center;
     font-family: Inter;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     
}